---
layout: base.njk
title: About Us
description: Learn about One Thousand Hills Voyages Ltd - your trusted partner for professional travel services in Rwanda
---

<section class="blog">
    <div class="container.blog">
        <div class="Blog-content">
            <h1>Blog</h1>
            <p class="Blog-subtitle">Know more on Trip and place to rest</p>
        </div>
    </div>
</section>

<div class="blog-cards">
    <div class="blog-card">
        <img src="/images/lion.jpg" alt="Akagera National Park" class="blog-card-img" />
        <div class="blog-card-content">
            <h3>Akagera National Park</h3>
            <p1>"Where Savannah Meets Serenity"</p1>
            <p2>Big game, tranquil lakes, and golden grasslands—Akagera is Rwanda’s untamed east.</p2>
            <a href="/blog-akagera" class="read-more">Read more</a>
        </div>
    </div>
    <div class="blog-card">
        <img src="/images/gorilla.jpg" alt="Volcanoes National Park" class="blog-card-img" />
        <div class="blog-card-content">
            <h3>Volcanoes National Park</h3>
            <p1>"Home of Giants, Heart of Conservation"</p1>
            <p2>Trek misty mountains to meet Rwanda’s iconic mountain gorillas.</p2>
            <a href="/blog-volcano" class="read-more">Read more</a>
        </div>
    </div>
    <div class="blog-card">
        <img src="/images/gorilla.jpg" alt="Nyungwe National Park" class="blog-card-img" />
        <div class="blog-card-content">
            <h3>Nyungwe National Park</h3>
            <p1>"Rainforest Rhythms, Primal Echoes"</p1>
            <p2>Ancient trees, canopy walks, and the call of wild chimpanzees await.</p2>
            <a href="/blog-nyungwe" class="read-more">Read more</a>
        </div>
    </div>
    <div class="blog-card">
        <img src="/images/lion.jpg" alt="Muhabura National Park" class="blog-card-img" />
        <div class="blog-card-content">
            <h3>Mount Muhabura</h3>
            <p1>"Climb the Sleeping Spear"</p1>
            <p2>Test your limits on this sky-piercing volcano with a summit like no other.</p2>
            <a href="/blog-muhabura" class="read-more">Read more</a>
        </div>
    </div>
    <!-- Add more cards as needed -->