---
layout: base.njk
title: About Us
description: Learn about One Thousand Hills Voyages Ltd - your trusted partner for professional travel services in Rwanda
---


<section class="testimonials">
    <div class="container">
        <h2 class="section-title">What Our Clients Say</h2>
        <div class="testimonials-grid">
            <div class="testimonial-card">
                <img src="/images/testimonials/hanne.jpg" alt="hanne" class="testimonial-img" />
                <div class="testimonial-content">
                    <p>"Very good services and always very helpfull. 
Super guidance during our holiday in Rwanda. Always the best advice for activities and hotels for every budget. Thankyou! Jeroen and Hanne"</p>
                </div>
                <div class="testimonial-author">
                    <span class="author-name">Hanne</span>
                    <span class="author-location">Nyungwe National Park</span>
                </div>
            </div>
            <div class="testimonial-card">
                <img src="/images/testimonials/amber.jpg" alt="amber" class="testimonial-img" />
                <div class="testimonial-content">
                    <p>"Very good trips with Hamza! We enjoyed Rwanda very much! Very good English and always kind!"</p>
                </div>
                <div class="testimonial-author">
                    <span class="author-name">amber</span>
                    <span class="author-location">Akagera National Park</span>
                </div>
            </div>
            <div class="testimonial-card">
                <img src="/images/testimonials/susane.jpg" alt="sussane" class="testimonial-img" />
                <div class="testimonial-content">
                    <p>"Our time in Rwanda was made fantastic by Origene. His genuine kindness was displayed time and time again and his willingness to go above and beyond in order for clients to have the best possible time is laudable. 10/10 would recommend!"</p>
                </div>
                <div class="testimonial-author">
                    <span class="author-name">Sussane</span>
                    <span class="author-location">Akagera National Park</span>
                </div>
            </div>
             <div class="testimonial-card">
                <img src="/images/testimonials/rajesh.jpg" alt="rajesh" class="testimonial-img" />
                <div class="testimonial-content">
                    <p>"This is my first ever trip to Africa. A trip to Africa is never complete without a safari. Thanks to this page, I found a trustworthy operator who took care of me throughout my trip. He is very reliable and is able to custom a trip based on our need. Compared to everyone else, his pricing was value oriented and there was no additional charges. "</p>
                </div>
                <div class="testimonial-author">
                    <span class="author-name">Rajesh</span>
                    <span class="author-location">Akagera National Park</span>
                </div>
            </div>
            <div class="testimonial-card">
                <img src="/images/testimonials/natasha.jpg" alt="natasha" class="testimonial-img" />
                <div class="testimonial-content">
                    <p>"Our time in Rwanda was made fantastic by Origene. His genuine kindness was displayed time and time again and his willingness to go above and beyond in order for clients to have the best possible time is laudable. 10/10 would recommend!!"</p>
                </div>
                <div class="testimonial-author">
                    <span class="author-name">Natasha</span>
                    <span class="author-location">Akagera National Park</span>
                </div>
            </div>
             <div class="testimonial-card">
                <img src="/images/testimonials/sanne.jpg" alt="sanne" class="testimonial-img" />
                <div class="testimonial-content">
                    <p>"we had an amazing time at Akagera national park. Everything was well organised and the price is what you agree on in advance. We had a great adventure on our 2 day trip and are already looking forward to our next trip to lake kivu with 1000Hills voyages."</p>
                </div>
                <div class="testimonial-author">
                    <span class="author-name">Sanne</span>
                    <span class="author-location">Akagera National Park</span>
                </div>
            </div>
        </div>
    </div>
</section>